<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{course().title}}</mat-card-title>
    <mat-card-subtitle>Price: {{course().price}} zł</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://picturesbeautyapplication.s3.eu-central-1.amazonaws.com/{{course().creator.fileName}}">
  <mat-card-content>
    <p>{{course().description}}</p>
    <p>{{course().category?.label}}</p>
    <p>{{course().startDate}}</p>
    <p>{{course().endDate}}</p>
    <p>{{course().address?.city}}</p>
    <p>{{course().address?.district}}</p>
    <p>{{course().address?.street}}</p>
    <p>{{course().address?.streetNumber}}</p>
    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>SignUp</button>
  </mat-card-actions>
</mat-card>
<label>Average rating</label>
<ngx-stars #currentRating
[wholeStars]="false" 
[maxStars]="5"
[readonly]="false"
(ratingOutput)="handleRating($event)" >
</ngx-stars>
<label>User Rating</label>
<ngx-stars #courseRating
[wholeStars]="false" 
[maxStars]="5"
[readonly]="false"
(ratingOutput)="handleRating($event)" >
</ngx-stars>
<form [formGroup]="form">
  <formly-form [form]="form" [fields]="fields"></formly-form>
  <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="saveComment()">Save comment</button>
</form>
<app-comments [comments]="comments()"></app-comments>
