<div class="user-dashboard">
  <div class="profile-avatar">
  @if (currentUser().fileName) {
    <img class="profile-photo"
         [src]="'https://picturesbeautyapplication.s3.eu-central-1.amazonaws.com/' + currentUser().fileName"
         alt="Profile photo">
  } @else {
    <div class="avatar-fallback">
      {{ currentUser().firstName.charAt(0) + currentUser().lastName.charAt(0) }}
    </div>
  }
</div>


  <div class="cards-grid">
    <mat-card class="dashboard-card">
      <mat-card-title>Change account data</mat-card-title>
      <mat-card-content>You can change account data</mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="/account">Account</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-title>My courses</mat-card-title>
      <mat-card-content>You can browse your courses here</mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="/student-courses">Enter</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-title>Manage your courses</mat-card-title>
      <mat-card-content>You can manage your courses here</mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="/creator-courses">Enter</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-title>Your comments</mat-card-title>
      <mat-card-content>You can see your comments here</mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="/my-comments">Enter</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
