
<div class="container">
    <div>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Change account data</mat-card-title>
                
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              You can change account data
            </mat-card-content>
            <mat-card-actions>
              <button mat-button routerLink="/account">Account</button>
            </mat-card-actions>
          </mat-card>
          
    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>My courses</mat-card-title>
                
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              You can browse your courses here
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Manage your courses</mat-card-title>
                
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              You can manage your courses here
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
            </mat-card-actions>
          </mat-card>
    </div> 
</div>
